# Development files
tests/
.github/
.vscode/
.editorconfig
.eslintrc
.prettierrc
!TODO

# Additional files to ignore
node_modules/
coverage/
.DS_Store
*.log
.env*

# Explicitly include src
!src/
!static/